<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Edit Song</h1>

    <%- include('songForm') %>

        <a href="/songs ">List</a>

</html>